# {{ ansible_managed }}
# sygnal {{ sygnal_git_version }}
# ansible role at {{ sygnal_ansible_url }}
/var/log/sygnal/sygnal.log {
    daily
    rotate {{ sygnal_log_days_keep }}
    maxsize 100000000
    compress
    shred
    missingok
    su sygnal sygnal
    postrotate
      /bin/systemctl reload matrix-sygnal.service
    endscript
}
