# {{ ansible_managed }}
# sygnal {{ sygnal_git_version }}
# ansible role at {{ sygnal_ansible_url }}
[Unit]
Description=matrix-sygnal
After=network.target

[Service]
User=sygnal
Group=sygnal
Type=simple
WorkingDirectory=/etc/sygnal
EnvironmentFile=/etc/aws-environment
Environment=SYGNAL_CONF=/etc/sygnal/sygnal.yml
ExecStartPre=/usr/local/bin/sygnal-key-fetcher
ExecStart=/usr/local/sygnal/venv/bin/python -m sygnal.sygnal
PrivateTmp=true
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
