# {{ ansible_managed }}
# sygnal {{ sygnal_git_version }}
# ansible role at {{ sygnal_ansible_url }}

{% if sygnal_postgres_enabled %}
database:
  name: psycopg2
  args:
    host: {{ sygnal_db_hostname }}
    port: {{ sygnal_db_port }}
    database: {{ sygnal_db_name }}
    user: {{ sygnal_db_username }}
    password: {{ sygnal_db_password }}
    cp_min: {{ sygnal_db_cp_min }}
    cp_max:  {{ sygnal_db_cp_max }}
{% else %}
database:
  name: sqlite3
  args:
    dbfile: /var/lib/sygnal/sygnal.db
{% endif %}


## Logging #
log:
  # Specify a Python logging 'dictConfig', as described at:
  #   https://docs.python.org/3.7/library/logging.config.html#logging.config.dictConfig
  #
  setup:
    version: 1
    formatters:
      normal:
        format: "%(asctime)s [%(process)d] %(levelname)-5s %(name)s %(message)s"
    handlers:
      file:
        class: "logging.handlers.WatchedFileHandler"
        formatter: "normal"
        filename: /var/log/sygnal/sygnal.log
    loggers:
      # sygnal.access contains the access logging lines.
      # Comment out this section if you don't want to give access logging
      # any special treatment.
      sygnal.access:
        propagate: false
        handlers: ["file"]
        level: "INFO"

      # sygnal contains log lines from Sygnal itself.
      # You can comment out this section to fall back to the root logger.
      sygnal:
        propagate: false
        handlers: ["file"]

    root:
      # Specify the handler(s) to send log messages to.
      handlers: ["file"]
      level: "INFO"

    disable_existing_loggers: false


  access:
    # Specify whether or not to trust the IP address in the `X-Forwarded-For`
    # header. In general, you want to enable this if and only if you are using a
    # reverse proxy which is configured to emit it.
    #
    x_forwarded_for: true

## HTTP Server (Matrix Push Gateway API) #
#
http:
  # Specify a list of interface addresses to bind to.
  #
  bind_addresses: ['0.0.0.0']

  # Specify the port number to listen on.
  #
  port: 5000

## Metrics #
#
metrics:
  ## Prometheus #
  #
  prometheus:
    # Specify whether or not to enable Prometheus.
    #
    enabled: true

    # Specify an address for the Prometheus HTTP Server to listen on.
    #
    address: '0.0.0.0'

    # Specify a port for the Prometheus HTTP Server to listen on.
    #
    port: 9201

  ## OpenTracing #
  #
  opentracing:
    # Specify whether or not to enable OpenTracing.
    #
    enabled: false

    # Specify an implementation of OpenTracing to use. Currently only 'jaeger'
    # is supported.
    #
    implementation: jaeger

    # Specify the service name to be reported to the tracer.
    #
    service_name: sygnal

    # Specify configuration values to pass to jaeger_client.
    #
    jaeger:
      sampler:
        type: 'const'
        param: 1
#        local_agent:
#          reporting_host: '127.0.0.1'
#          reporting_port:
      logging: true

  ## Sentry #
  #
  sentry:
    # Specify whether or not to enable Sentry.
    #
    enabled: false

    # Specify your Sentry DSN if you enable Sentry
    #
    #dsn: "https://<key>@sentry.example.org/<project>"

## Pushkins/Apps #
#
# Add a section for every push application here.
# Specify the pushkey for the application and also the type.
# For the type, you may specify a fully-qualified Python classname if desired.
#
apps:
{% if sygnal_ios_apps is defined %}
{% for app in sygnal_ios_apps %}
  {{ app.package }}:
    type: apns
    certfile: /etc/sygnal/{{ app.package }}.pem
    platform: {{ app.platform }}
    inflight_request_limit: 512
{% endfor %}
{% endif %}
{% if sygnal_android_apps is defined %}
{% for app in sygnal_android_apps %}
  {{ app.package }}:
    type: gcm
    api_key: {{ app.api_key }}
    max_connections: 20
    inflight_request_limit: 512
{% endfor %}
{% endif %}
